/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general settings */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h2 {
    color: #2575fc;
}

/* Header title styling */
.header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 50px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    padding: 10px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #2575fc;
    border-radius: 5px;
}

/* Project & Certification Buttons */
.project-button, .credential-button, .resume-button {
    display: inline-block;
    background-color: #2575fc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.1rem;
}

.project-button:hover, .credential-button:hover, .resume-button:hover {
    background-color: #1e5cda;
    transform: translateY(-3px);
}

.project-button:active, .credential-button:active, .resume-button:active {
    transform: translateY(0);
}

.project-button:focus, .credential-button:focus, .resume-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 117, 252, 0.5);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 1rem;
    color: #333;
}

footer strong {
    font-weight: bold;
}

/* Link and button styling */
.email-badge {
   
